:global #sticky-container {

  /* Hide the scrollbar but keep scroll behavior */
  &:local(.hide-scrollbar) {
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
