:global #sticky-container {
  padding-bottom: 24px;

  /* Use a thin scrollbar */
  &:local(.thin-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: #cdcdcd #f0f0f0;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
      background-color: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cdcdcd;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a6a6a6;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #606060;
    }
  }

  /* Hide the scrollbar but keep scroll behavior */
  &:local(.hide-scrollbar) {
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* Show scrollbar on hover */
  &:local(.hover-scrollbar) {
    overflow-y: auto;
    scrollbar-color: transparent transparent;

    &:hover {
      scrollbar-color: revert;
    }

    &:not(:hover) {
      &:not(:local(.thin-scrollbar))::-webkit-scrollbar {
        width: auto;
        height: auto;
      }

      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }

  /* Use the classic menu styles */
  &:local(.classic-styles) > nav > ul > li > a {
    position: relative;
    padding: 8px 6px;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;

    &:hover {
      text-decoration: none !important;
      color: var(--ic-brand-font-color-dark);
      background-color: #e8e8e8;
    }

    &.active {
      padding-left: 8px;
      border-left: none;
      border-radius: 3px;
      color: white;
      background-color: var(--ic-brand-primary);
    }

    &.active:hover {
      background-color: var(--ic-brand-primary-darkened-5);
    }

    & > .nav-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      height: 16px;
      min-width: unset;
      transform: translateY(-50%);
      padding: unset;
      border-radius: unset;
      background: unset;
      color: unset;
    }
  }
}
